:root {
    --primary-color: #2a9d8f;
    --secondary-color: #e9c46a;
    --accent1-color: #f4a261;
    --accent2-color: #e76f51;
    --heading-font: 'Arial Black', sans-serif;
    --body-font: 'Verdana', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.grid-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    text-decoration: none;

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    justify-content: flex-end;
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  padding: 16px;
  text-align: center;
  background-color: var(--accent1-color);
  color: #fff;
  opacity: 0.9;
  z-index: 2; 
}

.hero article {
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  padding: 16px;
  background-color: var(--primary-color);
  color: #fff;
  opacity: 0.9;
  z-index: 2; 
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 12px; 


.history-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    text-align: center;
}

.history-grid img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 2px;
}